.container {
  width: 960px;
  height: 960px;
  background-color: white;
  border: 4px solid red;
  display: flex;
  flex-wrap: wrap;
}

.reset-btn {
  margin-bottom: 16px;
  padding: 16px;
  background-color: red;
  color: white;
  cursor: pointer;
}

.change-squares-btn {
  margin-bottom: 16px;
  padding: 16px;
  background-color: green;
  color: white;
  cursor: pointer;
}
